<div class="full-width valign-wrapper">
	<div class="ui container center aligned hide-on-med-and-down">
		<h2 class="ui header" id="title">Angular <span class="plus">+</span> Firebase</h2>
		<p class="center aligned" id="subtitle">My practice lesson covering Angular 6 <span class="plus">+</span> Firebase <span class="plus">+</span> SemanticUI</p>
		
		<img src="../../assets/angular-firebase.png" width="40%" class="animated bounceInUp" id="img-header">
		<br>
		<button class="huge ui button" id="header-button" [routerLink]="['/gadgets']">Check out</button>
	</div>

	<div class="ui container center aligned hide-on-large-only">
		<h2 class="ui header" id="title-mobile">Angular <span class="plus">+</span> Firebase</h2>
		<p class="center aligned" id="subtitle-mobile">My practice lesson covering Angular 6 <span class="plus">+</span> Firebase <span class="plus">+</span> SemanticUI</p>
		
		<img src="../../assets/angular-firebase.png" width="70%" class="animated bounceInUp" id="img-header">
		<br>
		<button class="huge ui button" id="header-button" [routerLink]="['/gadgets']">Check out</button>
	</div>

</div>
<app-footer></app-footer>