<div class="full-width valign-wrapper">

	<div class="ui container center aligned">
		<h2 class="ui header" id="title">Angular <span class="plus">+</span> Semantic UI</h2>
		<p class="center aligned" id="subtitle">Initial project with Angular 6 <span class="plus">+</span> SemanticUI <span class="plus">+</span> jQuery <span class="plus">+</span> SweetAlert2 <span class="plus">+</span> Animated.css</p>
		
		<img src="../../assets/logos.png" width="30%" class="animated bounceInUp" id="img-header">
	</div>

</div>
