<div class="section no-pad-bot animated fadeIn" id="banner-top">
	<div class="ui container center aligned">
		<h1 class="ui header white-text" id="main">Gadg<span class="yellow-color">e</span>ts</h1>
		<div class="sub header">T E C H  D E V I C E S</div>
		<br>
	</div>
</div>


<div class="ui container animated fadeIn mar-bot">

	

	<div class="ui right aligned grid">
		<div class="right floated column">
			<div class="ui small breadcrumb">
				<a class="section" [routerLink]="['/home']">Home</a>
				<i class="right chevron icon divider"></i>
				<div class="active section">Gadgets</div>
			</div>
		</div>
	</div>

	<div class="ui left aligned grid">
		<div class="right floated column">
			<button class="ui green button" [routerLink]="['/gadget','add']">Add Gadget</button>
		</div>
	</div>

	<br>

	<table class="ui celled table ">
		<thead>
			<tr>
				<th class="center aligned">#</th>
				<th>Gadget</th>
				<th>Description</th>
				<th>Brand</th>
				<th>Price</th>
				<th class="center aligned" width="250px">Options</th>
			</tr>
		</thead>
		<tbody>

			<tr *ngFor="let gadget of gadgets; let i = index">
				<td width="50px" class="center aligned">{{i+1}}</td>
				<td width="200px">{{gadget.name}}</td>
				<td>{{gadget.description}}</td>
				<td width="100px">{{gadget.brand}}</td>
				<td width="100px">{{gadget.price | currency}}</td>
				<td class="center aligned">
					<button class="ui red button" (click)="deleteGadget(gadget)">Delete</button>
					<button class="ui primary button" (click)="editGadget(gadget.key$)">Edit</button>
				</td>
			</tr>
		</tbody>
	</table>

	<br>

	<div class="ui large steps right">
		<div class="step">
			<i class="mobile alternate icon"></i>
			<div class="content">
				<div class="title">{{gadgets.length}}</div>
				<div class="description">Total devices</div>
			</div>
		</div>
		<div class="step">
			<i class="dollar icon"></i>
			<div class="content">
				<div class="title">{{budget | currency}}</div>
				<div class="description">Total sum of the devices</div>
			</div>
		</div>
	</div>
	<br>
	
	<div class="ui divider"></div>

</div>
<div class="ui stackable two column grid mar-top">

	<div class="column blue">
		<div class="container">
			<h1 class="ui header white-text pad-top">What is a gadget?</h1>
			<p>A gadget is a small mechanical or electronic device or tool, especially an ingenious or novel one</p>
			<h2 class="ui header pad-top white-text">
				Add gadgets or tech devices!
				<div class="sub header">You still can add <span class="bold">{{10-gadgets.length}}</span> gadgets.</div>
			</h2>

			<p>Feel free to add your <span class="yellow-color bold">top ten</span> favorites gadgets. Type the name, brand, price and description of the gadget; all the fields are requireds.</p>

		</div>
	</div>
	<div class="column center aligned yellow pad-bot pad-top">
		<h2 class="ui header">
			Awesome!
			<div class="sub header">You've added <span class="bold">{{gadgets.length}}</span> gadgets.</div>
		</h2>

		<br>

		<div class="animated bounceInRight">
			<br>
			<br>
			<img src="../../../assets/iPhone.png" width="40%">
		</div>

		<br>
		<br>
		<br>

		<button class="ui secondary button" [routerLink]="['/gadget','add']">Add Gadget</button>
	</div>
</div>