<div class="ui container">
	<div class="ui stackable two column grid">
		<div class="ui vertical divider" style="height: 50%;"></div>
		<div class="column">
			<form class="ui form" (ngSubmit)="save(gadgetForm)" #gadgetForm="ngForm">
				<div class="three fields">
					
					<!-- Name Field -->
					<div class="required field">
						<label>Name</label>
						<input 
						type="text" 
						placeholder="Device name" 
						[(ngModel)]="gadget.name"
						name="name"
						#name="ngModel"
						required>

						<div class="ui negative message" *ngIf="(!name.valid && name.touched)">
							<div class="header">
								Error in device name!
							</div>
							<ul>
								<li *ngIf="name.errors?.required">This field is required</li>
							</ul>
						</div>

					</div>
					
					<!-- Brand Field -->
					<div class="required field">
						<label>Brand</label>
						<input 
						type="text" 
						placeholder="Devices's brand" 
						[(ngModel)]="gadget.brand"
						name="brand"
						#brand="ngModel"
						required>

						<div class="ui negative message" *ngIf="(!brand.valid && brand.touched)">
							<div class="header">
								Error in brand name!
							</div>
							<ul>
								<li *ngIf="brand.errors?.required">This field is required</li>
							</ul>
						</div>
					</div>
					
					<!-- Price Field -->
					<div class="required field">
						<label>Price</label>
						<input 
						type="text" 
						placeholder="Devices's price" 
						[(ngModel)]="gadget.price"
						#price ="ngModel"
						name="price"
						pattern='[0-9]+(\.[0-9][0-9]?)?'
						required>

						<div class="ui negative message" *ngIf="(!price.valid && price.touched)">
							<div class="header">
								Error in price name!
							</div>
							<ul>
								<li *ngIf="price.errors?.pattern">You must type numbers.</li>
								<li *ngIf="price.errors?.pattern">Example: 90.99</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Description</label>
					<textarea 
					rows="2" 
					placeholder="Short description" 
					[(ngModel)]="gadget.description"
					name="description"
					required>
				</textarea>
			</div>
			<br>
			<div class="ui center aligned three column grid">
				<div class="row">
					<div class="column">
						<button class="ui button green" type="submit">Submit</button>
						<!-- [disabled]="!formExampleNestedObj.valid" -->
					</div>
				</div>
			</div>
			{{gadgetForm.status}}
		</form>
	</div>
	<div class="column ">
		{{gadgetForm.valid}}
		<pre>
			{{gadget | json}}
		</pre>
	</div>
</div>
</div>








