<div class="section no-pad-bot animated fadeIn" id="banner-top">
	<div class="ui container center aligned">
		<h1 class="ui header white-text" id="main">Gadgets</h1>
		<br>
	</div>
</div>


<div class="ui container animated fadeIn">

	

	<div class="ui right aligned grid">
		<div class="right floated column">
			<div class="ui small breadcrumb">
				<a class="section" [routerLink]="['/home']">Home</a>
				<i class="right chevron icon divider"></i>
				<div class="active section">Gadgets</div>
			</div>
		</div>
	</div>

	<div class="ui left aligned grid">
		<div class="right floated column">
			<button class="ui green button" [routerLink]="['/gadget','add']">Add Gadget</button>
		</div>
	</div>

	<br>

	<table class="ui celled table ">
		<thead>
			<tr>
				<th>Gadtet</th>
				<th>Description</th>
				<th>Brand</th>
				<th>Price</th>
				<th class="center aligned" width="250px">Options</th>
			</tr>
		</thead>
		<tbody>

			<tr *ngFor="let gadget of gadgets">
				<td data-label="Name" width="200px">{{gadget.name}}</td>
				<td data-label="Name">{{gadget.description}}</td>
				<td data-label="Age" width="100px">{{gadget.brand}}</td>
				<td data-label="Job" width="100px">{{gadget.price | currency}}</td>
				<td data-label="Job" class="center aligned">
					<button class="ui red button" (click)="deleteGadget(gadget.key$)">Delete</button>
					<button class="ui primary button" (click)="editGadget(gadget.key$)">Edit</button>
				</td>
			</tr>

		</tbody>
	</table>

</div>