<div class="section no-pad-bot animated fadeIn" id="banner-top">
	<div class="ui container center aligned">
		<h1 class="ui header white-text" id="main">{{title}}</h1>
		<br>
	</div>
</div>

<div class="ui container animated fadeIn">
	
	<div class="ui right aligned grid">
		<div class="right floated column">
			<div class="ui small breadcrumb">
				<a class="section" [routerLink]="['/home']">Home</a>
				<i class="right chevron icon divider"></i>
				<a class="section" [routerLink]="['/gadgets']">Gadgets</a>
				<i class="right chevron icon divider"></i>
				<div class="active section">{{option}}</div>
			</div>
		</div>
	</div>

	<div class="ui stackable two column grid mar-top mar-bot">

		<!-- <div class="ui vertical divider" style="height: 50%;"></div> -->
		<div class="column animated bounceInLeft">
			<form class="ui form" (ngSubmit)="save(gadgetForm)" #gadgetForm="ngForm">
				<div class="three fields">
					
					<!-- Name Field -->
					<div class="required field">
						<label>Name</label>
						<input 
						type="text" 
						placeholder="Device name" 
						[(ngModel)]="gadget.name"
						name="name"
						#name="ngModel"
						required>

						<div class="ui negative message" *ngIf="(!name.valid && name.touched)">
							<div class="header">
								Error in device name field!
							</div>
							<ul>
								<li *ngIf="name.errors?.required">This field is required</li>
							</ul>
						</div>

					</div>
					
					<!-- Brand Field -->
					<div class="required field">
						<label>Brand</label>
						<input 
						type="text" 
						placeholder="Devices's brand" 
						[(ngModel)]="gadget.brand"
						name="brand"
						#brand="ngModel"
						required>

						<div class="ui negative message" *ngIf="(!brand.valid && brand.touched)">
							<div class="header">
								Error in device brand field!
							</div>
							<ul>
								<li *ngIf="brand.errors?.required">This field is required</li>
							</ul>
						</div>
					</div>
					
					<!-- Price Field -->
					<div class="required field">
						<label>Price</label>
						<input 
						type="text" 
						placeholder="Devices's price" 
						[(ngModel)]="gadget.price"
						#price ="ngModel"
						name="price"
						pattern='[0-9]+(\.[0-9][0-9]?)?'
						required>

						<div class="ui negative message" *ngIf="(!price.valid && price.touched)">
							<div class="header">
								Error in device price field!
							</div>
							<ul>
								<li *ngIf="price.errors?.pattern">You must type numbers.</li>
								<li *ngIf="price.errors?.pattern">Example: 90.99</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Description</label>
					<textarea 
					rows="2" 
					placeholder="Short description" 
					[(ngModel)]="gadget.description"
					name="description"
					#desccription = "ngModel"
					required>
				</textarea>

				<div class="ui negative message" *ngIf="(!desccription.valid && desccription.touched)">
					<div class="header">
						Error in device desccription field!
					</div>
					<ul>
						<li *ngIf="desccription.errors?.required">This field is required</li>
					</ul>
				</div>
			</div>
			<br>
			
			<div class="ui right aligned grid">
				<div class="right floated left aligned six wide column">
				<div class="ui button" tabindex="0" [routerLink]="['/gadgets']">Cancel</div>
				<button class="ui button green" type="submit" [disabled]="!gadgetForm.valid">Submit</button>
				</div>
			</div>

		</form>
	</div>

	<div class="column center aligned">
		<div class="eight wide column">
			<h2 class="ui header">
				Feel free to add your favorites <span class="yellow-color">gadgets</span>!
				<div class="sub header">Add the name, brand, price and description of your gadget.</div>
			</h2>
			<div class="animated bounceInRight">
				<br>
				<br>
				<img src="../../../assets/gadget.png" width="40%">
			</div>
		</div> 
	</div>


</div>
</div>








