<br>
<div class="ui container">

	<div class="ui right aligned grid">
		<div class="right floated column">
			<button class="ui green button" [routerLink]="['/gadget','add']">Add</button>
		</div>
	</div>

	<table class="ui celled table">
		<thead>
			<tr>
				<th>Gadtet</th>
				<th>Description</th>
				<th>Brand</th>
				<th>Price</th>
				<th class="center aligned" width="250px">Options</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td data-label="Name" width="200px">iPhone XS</td>
				<td data-label="Name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro obcaecati laudantium aut alias, repudiandae cupiditate odit facere et assumenda non?</td>
				<td data-label="Age" width="100px">Apple</td>
				<td data-label="Job" width="100px">$ 1,500</td>
				<td data-label="Job" class="center aligned">
					<button class="ui red button">Delete</button>
					<button class="ui primary button">Edit</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>