/* You can add global styles to this file, and also import other style files */

.full-width-gadget {
	height: 68%;
	min-height: 66vh;
	margin-bottom: 0px;
}

#preloader{
	margin-top: 650px;
}

.ui.inverted.dimmer .ui.loader:after {
	border-color: #1cb5e0 transparent transparent !important ;
}

.section {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.section.no-pad-bot {
	padding-bottom: 0;
	margin-bottom: 60px;
}

#bars{
	margin-left: 20px;
	padding-top: 20px;
	font-size: 25px;
}

.mar-top{
	margin-top: 50px !important; 
}

.pad-top{
	padding-top: 50px !important; 
}

.mar-bot{
	margin-bottom: 70px !important; 
}

.pad-bot{
	padding-bottom: 70px !important; 
}


#banner-top{
	color: white;
	background: #0d47a1;
	border-bottom: 20px solid #1565c0;
	padding-top: 50px;
}

.white-text{
	color:white !important;
}

#main{
	font-size: 55px !important;
}


.yellow-color{
	color: #ffca28 ;
}

.bold{
	font-weight: 700;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

@media only screen and (max-width: 992px) {
	.hide-on-med-and-down {
		display: none !important;
	}
}


@media only screen and (min-width: 993px) {
	.hide-on-large-only {
		display: none !important;
	}
}